 
    <style>

 

        .home-vid
        {
 text-decoration: none;
 width: fit-content;
 height: fit-content;
 max-width: 360px;
 display: inline-block;
 color: white;
 background-color: rgb(10,10,10);
 transition: transform 0.2s, background-color 0.2s;
 
 margin: 0px auto 40px 0px;
 text-align: left;
        }


        .home-vid:hover
        {
            transform: scale(1.1);
             background-color: var(--hover-color);
        }

     
        .img-home
        {
                        width: 360px;
            height: 202.5px;
           
            position: relative;
            
        }

        .vid-title
        {
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    </style>
    
    <div id="feed_holder">
        <div class="feed">

            <h1>New Today</h1>


            <% newVids.forEach(video => { %>

  
  <% var i = 0; %>
    <!-- <a href = "/videos/<%=video.id%>"><div><%=video.title%></div></a> -->
    <!-- <a href = "<%= video.link%>" target="_blank"> -->

    <!--
    <a href = "/videos/<%=video.id%>">
        <div class = "item vid-item">
          <img class = "img" src="<%=video.imageAddress%>" alt="Lamp" width="50">
          <p class = "vInfo" id = "overflo"> <span style ="font-size: 20px; "></span><br> <span style="font-size: 12.5px; color:rgb(170, 170, 170)"></span></p>
        </div>
    </a> 
-->



<a class = "home-vid" style=" --hover-color: rgb(<%= video.backgroundColor%>)" href = "/videos/<%=video.id%>">

        
<img class = "img-home" src="<%=video.imageAddress%>" alt="Lamp" width="50">
<div >
 <p  class="vid-title" style="margin-left: 15px;"> <%= video.title%></p>
  <p style="color: rgb(170,170,170); margin-left: 15px;"> <%= video.author%></p>


   <div style=" margin-left: auto; margin-right: auto; width: fit-content" >
    <% if(video.averageStars === 5.0) { %>
      
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
     

      <% } else if(video.averageStars >= 4.3) {%>
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star-half.svg">

      <% } else if(video.averageStars >= 3.8) {%>
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/empty.svg">
      
      
      <% } else if(video.averageStars >= 3.3) {%>
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star-half.svg">
        <img class="star" src="/empty.svg">

        <% } else if(video.averageStars >= 2.8) {%>
          <img class="star" src="/star.svg">
          <img class="star" src="/star.svg">
          <img class="star" src="/star.svg">
          <img class="star" src="/empty.svg">
          <img class="star" src="/empty.svg">
          <% } else if(video.averageStars >= 2.3) {%>
            <img class="star" src="/star.svg">
            <img class="star" src="/star.svg">
            <img class="star" src="/star-half.svg">
            <img class="star" src="/empty.svg">
            <img class="star" src="/empty.svg">
            <% } else if(video.averageStars >= 1.8) {%>
              <img class="star" src="/star.svg">
              <img class="star" src="/star.svg">
              <img class="star" src="/empty.svg">
              <img class="star" src="/empty.svg">
              <img class="star" src="/empty.svg">
              <% } else if(video.averageStars >= 1.3) {%>
                <img class="star" src="/star.svg">
                <img class="star" src="/star-half.svg">
                <img class="star" src="/empty.svg">
                <img class="star" src="/empty.svg">
                <img class="star" src="/empty.svg">
                <% } else if(video.averageStars >= 0.8) {%>
                  <img class="star" src="/star.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <% }  else if(video.averageStars>=0.3){%>

                  <img class="star" src="/star-half.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <% }  else {%>
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <% } %>
        </div>
 </div>
</a>







<% i++; %>





<% }) %>















        </div>
        
        <div class="feed">
            <h1>Best Today</h1>


            
            <% bestToday.forEach(video => { %>

  
  <% var i = 0; %>
    <!-- <a href = "/videos/<%=video.id%>"><div><%=video.title%></div></a> -->
    <!-- <a href = "<%= video.link%>" target="_blank"> -->

    <!--
    <a href = "/videos/<%=video.id%>">
        <div class = "item vid-item">
          <img class = "img" src="<%=video.imageAddress%>" alt="Lamp" width="50">
          <p class = "vInfo" id = "overflo"> <span style ="font-size: 20px; "></span><br> <span style="font-size: 12.5px; color:rgb(170, 170, 170)"></span></p>
        </div>
    </a> 
-->



<a class = "home-vid" style=" --hover-color: rgb(<%= video.backgroundColor%>)" href = "/videos/<%=video.id%>">

        
<img class = "img-home" src="<%=video.imageAddress%>" alt="Lamp" width="50">
<div>
 <p   class="vid-title" style="margin-left: 15px;" > <%= video.title%></p>
  <p style="color: rgb(170,170,170); margin-left: 15px;"> <%= video.author%></p>


   <div style=" margin-left: auto; margin-right: auto; width: fit-content" >
    <% if(video.averageStars === 5.0) { %>
      
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
      <img class="star" src="/star.svg">
     

      <% } else if(video.averageStars >= 4.3) {%>
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star-half.svg">

      <% } else if(video.averageStars >= 3.8) {%>
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/empty.svg">
      
      
      <% } else if(video.averageStars >= 3.3) {%>
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star.svg">
        <img class="star" src="/star-half.svg">
        <img class="star" src="/empty.svg">

        <% } else if(video.averageStars >= 2.8) {%>
          <img class="star" src="/star.svg">
          <img class="star" src="/star.svg">
          <img class="star" src="/star.svg">
          <img class="star" src="/empty.svg">
          <img class="star" src="/empty.svg">
          <% } else if(video.averageStars >= 2.3) {%>
            <img class="star" src="/star.svg">
            <img class="star" src="/star.svg">
            <img class="star" src="/star-half.svg">
            <img class="star" src="/empty.svg">
            <img class="star" src="/empty.svg">
            <% } else if(video.averageStars >= 1.8) {%>
              <img class="star" src="/star.svg">
              <img class="star" src="/star.svg">
              <img class="star" src="/empty.svg">
              <img class="star" src="/empty.svg">
              <img class="star" src="/empty.svg">
              <% } else if(video.averageStars >= 1.3) {%>
                <img class="star" src="/star.svg">
                <img class="star" src="/star-half.svg">
                <img class="star" src="/empty.svg">
                <img class="star" src="/empty.svg">
                <img class="star" src="/empty.svg">
                <% } else if(video.averageStars >= 0.8) {%>
                  <img class="star" src="/star.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <% }  else if(video.averageStars>=0.3){%>

                  <img class="star" src="/star-half.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <% }  else {%>
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <img class="star" src="/empty.svg">
                  <% } %>
        </div>
 </div>
</a>







<% i++; %>





<% }) %>

        </div>
    </div>
    