

<style>

/* body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 */

#overview-container
{    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

   background-color: rgb(<%= video.backgroundColor%>); /*ignore */
   display:flex

   
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.video-div
{
  /* float: left; */
  padding-left: 90px;
  padding-top: 50px;
  width: 45%;
}
.reviews-div
{
  /* float: left; */
   /* display: flex;  */
  flex-grow: 1;
  justify-content: center;
}

.reviews-div
{
  /* float: left; */
   /* display: flex;  */
  flex-grow: 1;
  justify-content: center;
}

.rate-box
{
    flex-grow: 1;
  justify-content: center;
  padding-right: 90px;
}

.review-item-page
    {

      /* margin: auto; */
      margin: 15px auto 0px auto;
      display:block; 
      
      height: fit-content;
      padding: 10px;
      background-color: rgb(10, 10, 10);
      /* margin-top: 10px; */
      /* transition: background-color 0.2s; */
      transition: transform 0.2s;
    }



 
   .review-item-page:hover
    {
      transform: scale(1.05);
      /* background-color: rgb(0, 90, 0); */

    }







    .review-username
    {
      font-size: 20px;
      float: left;
      margin-top: 10px;
      text-decoration: none;
      color: white;
    }

    .review-profile-image
    {
      border-radius: 50%;
      float: left;
      margin-left: 30px;
      margin-right: 15px;
      width: 50px;
    }
    .name-profile-holder
    {
      margin-top: 20px;
      width: 100%;
      height: 55px;
    }

    .star-containera
    {
      padding-left: 25px;
    }
    .star-one{
      /* float: left; */
    }
    .review-content
    {
      margin-left: 30px;
    }

    .average-stars-container
    {
      /* display: inline; */
      display: flex;
      height: 50px;

      
    }

        .rate-stars-container
    {
      /* display: inline; */
      display: flex;
      height: fit-content;
      width: fit-content;
      justify-content: center;
      margin: auto;
      
    }

    

    .average-star-amount
    {
      margin-right: 10px;
      color: white;
    }
    .average-star-total
    {
      margin-left: 10px;
      color: white;
    }

    .myStar
    {
   user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }

    .rate-star
    {
      width: 100px;
      height: 100px;
    }

/* HIDE RADIO */
#myText
{

  border-radius: 5px; 
  border: none;
 caret-color: white; 
 color: white;
 background-color:rgb(31, 31, 31);
 padding: 15px 10px 15px 10px;
 font-family: "Roboto", sans-serif;
 field-sizing: content;
 width: 100%;
   resize: none;
   flex: 1;

   font-size: 20px;
}

textarea:focus {
    outline: none;
    border: none;
}
#comments-shabang
{
 
}

</style>

<script>
  console.log("<%=video.averageStars%>");
</script>
<div id="overview-container">

<div class="video-div">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.youtubeId%>?si=zFv2_59A4Zgvz29U&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <!-- <img  src="<%=video.imageAddress%>" alt="Lamp" width="500px"> -->

  <p style="color: white; font-size: 30px; margin: 15px  0px;"> <%= video.title%></p>
  <p style="color: rgb(173, 173, 173); font-size: 18.75px"> <%= video.author%></p>
  

  <div class="average-stars-container">
    <p class="average-star-amount"> <%= video.averageStars.toFixed(1)%> </p>
    <% if(video.averageStars === 5.0) { %>
      
      <img class="star-one" src="/star.svg" width="50px">
      <img class="star-one" src="/star.svg" width="50px">
      <img class="star-one" src="/star.svg" width="50px">
      <img class="star-one" src="/star.svg" width="50px">
      <img class="star-one" src="/star.svg" width="50px">
     

      <% } else if(video.averageStars >= 4.3) {%>
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star-half.svg" width="50px">

      <% } else if(video.averageStars >= 3.8) {%>
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/empty.svg" width="50px">
      
      
      <% } else if(video.averageStars >= 3.3) {%>
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star.svg" width="50px">
        <img class="star-one" src="/star-half.svg" width="50px">
        <img class="star-one" src="/empty.svg" width="50px">

        <% } else if(video.averageStars >= 2.8) {%>
          <img class="star-one" src="/star.svg" width="50px">
          <img class="star-one" src="/star.svg" width="50px">
          <img class="star-one" src="/star.svg" width="50px">
          <img class="star-one" src="/empty.svg" width="50px">
          <img class="star-one" src="/empty.svg" width="50px">
          <% } else if(video.averageStars >= 2.3) {%>
            <img class="star-one" src="/star.svg" width="50px">
            <img class="star-one" src="/star.svg" width="50px">
            <img class="star-one" src="/star-half.svg" width="50px">
            <img class="star-one" src="/empty.svg" width="50px">
            <img class="star-one" src="/empty.svg" width="50px">
            <% } else if(video.averageStars >= 1.8) {%>
              <img class="star-one" src="/star.svg" width="50px">
              <img class="star-one" src="/star.svg" width="50px">
              <img class="star-one" src="/empty.svg" width="50px">
              <img class="star-one" src="/empty.svg" width="50px">
              <img class="star-one" src="/empty.svg" width="50px">
              <% } else if(video.averageStars >= 1.3) {%>
                <img class="star-one" src="/star.svg" width="50px">
                <img class="star-one" src="/star-half.svg" width="50px">
                <img class="star-one" src="/empty.svg" width="50px">
                <img class="star-one" src="/empty.svg" width="50px">
                <img class="star-one" src="/empty.svg" width="50px">
                <% } else if(video.averageStars >= 0.8) {%>
                  <img class="star-one" src="/star.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <% }  else if(video.averageStars>=0.3){%>

                  <img class="star-one" src="/star-half.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <% }  else {%>
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <img class="star-one" src="/empty.svg" width="50px">
                  <% } %>

        <p class="average-star-total"> (<%= video.totalStars/5%>) </p>
  </div>

<br>
<hr>

<h1 style="color: white;">Info</h1>
  <p> Ratings count: <%= video.totalStars/5%></p>
  <p> Stars: <%= video.stars%> / <%= video.totalStars%></p>
  <p> Average rating: <%= video.averageStars%> stars</p>
  <p> Date posted <%= video.datePosted%></p>
<br>
  <h1 style="color: white;">Tags</h1>

  <% for(var i = 0; i < video.tags.length; i++) {%>

    <p><%=video.tags[i]%></p>

  <% }%>
  
</div>




<div class="rate-box">

    <h1 style="text-align: center;">Rate</h1>
    <div class="rate-stars-container" onmouseleave="ratingBoxOut()">

                    <img  class = "myStar" src="/none-left.svg" width="50px" onmouseover="gfg(1)" onclick="gfgClick(1)" >
                    <img  class = "myStar"src="/none-right.svg" width="50px"onmouseover="gfg(2)" onclick="gfgClick(2)">
                    <img  class = "myStar"src="/none-left.svg" width="50px"onmouseover="gfg(3)" onclick="gfgClick(3)">
                    <img  class = "myStar"src="/none-right.svg" width="50px"onmouseover="gfg(4)" onclick="gfgClick(4)">
                    <img  class = "myStar"src="/none-left.svg" width="50px"onmouseover="gfg(5)" onclick="gfgClick(5)">
                    <img  class = "myStar"src="/none-right.svg" width="50px"onmouseover="gfg(6)" onclick="gfgClick(6)">
                    <img  class = "myStar"src="/none-left.svg" width="50px"onmouseover="gfg(7)" onclick="gfgClick(7)">
                    <img  class = "myStar"src="/none-right.svg" width="50px"onmouseover="gfg(8)" onclick="gfgClick(8)">
                    <img  class = "myStar"src="/none-left.svg" width="50px"onmouseover="gfg(9)" onclick="gfgClick(9)">
                    <img  class = "myStar"src="/none-right.svg" width="50px"onmouseover="gfg(10)" onclick="gfgClick(10)">


    </div>


    
    <h1 style="text-align: center;">Comments</h1>


    <div id="comments-shabang">


    
    <div id="inputholder" style="display: flex;">

    
    <textarea id="myText" name="w3review"  placeholder="Add a comment"></textarea>

    
</div>



<button onclick="newComment()"  style="width: 100%; height: 30px;">Comment</button>






<% for(var i = 0; i < video.comments.length; i++) {%>

  <div class="review-item-page">
        <div class = "name-profile-holder">
        
          <img class = "review-profile-image" src = "../download.png" alt="">
          <p class="review-username"><%= video.comments[i].user.username%></p>
        </div>
       

          <p class = "review-content" id = "overflo"> <%= video.comments[i].body%></p>
        
      </div>
  <% } %>

  

</div>






  </div>





</div>

<script>
  var chosen = false;
  var numStars = 0;
let stars = document.getElementsByClassName("myStar");

async function newComment() {
console.log("HELLLOOOO")
  var commentBody = document.getElementById("myText").value;

     try
     {
        
        var fr = await fetch("/videos/<%=video.id%>/new-comment", {
        method: "POST",
        redirect: 'follow',
        headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
        body: JSON.stringify({
          body: commentBody
        })
    })

    if(fr.redirected)
    {
        window.location.href = fr.url;
    }

    }

    catch(e)
    {
        console.log(e)
    }
}




function gfg(n) {
   // output =  document.getElementById("hidden-data");
    remove();
    console.log(stars)
    console.log(n)
    for (let i = 0; i < n; i++) {

        if(i % 2 === 0)
        {
                 stars[i].src = "/full-left.svg" ;
        }

        else
        {
          stars[i].src = "/full-right.svg";
        }
        
    }
    //output.value = n.toString()
    //output.innerText = "Rating is: " + n + "/5";
}
 

async function   gfgClick(n) {
   // output =  document.getElementById("hidden-data");
    //remove();
    chosen = true;
    numStars = n;
    console.log(stars)
    console.log(n)
    for (let i = 0; i < n; i++) {

        if(i % 2 === 0)
        {
                 stars[i].src = "/full-left.svg" ;
        }

        else
        {
          stars[i].src = "/full-right.svg";
        }
        
    }
    //output.value = n.toString()
    //output.innerText = "Rating is: " + n + "/5";

    try{
        
        var fr = await fetch("/videos/<%=video.id%>", {
        method: "POST",
        redirect: 'follow',
        headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
        body: JSON.stringify({
          rating: n
        })
    })

    if(fr.redirected)
    {
        window.location.href = fr.url;
    }

    }

    catch(e)
    {
        console.log(e)
    }

}


 // To remove the pre-applied styling
function remove() {
    let i = 0;
    while (i < 10) {
         //stars[i].src = "/empty.svg"

        if(i % 2 === 0)
        {
                 stars[i].src = "/none-left.svg" ;
        }

        else
        {
          stars[i].src = "/none-right.svg";
        }
        


        i++;
    }
}


function ratingBoxOut()
{
  console.log("LEABING");
  console.log(numStars);
  if(chosen)
  {
     remove();
    for (let i = 0; i < numStars; i++) {

        if(i % 2 === 0)
        {
                 stars[i].src = "/full-left.svg" ;
        }

        else
        {
          stars[i].src = "/full-right.svg";
        }
        
    }
  }

  else{
    remove();
  }
}

if(<%=userR%> !== 0)
{
  chosen = true;
  numStars = <%=userR%>*2;
  ratingBoxOut();
}
</script>



<!-- <embed src="<%=video.previewURL%>" loop="true" autostart="true" width="2"
height="0"> -->
<!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5WI2ltQIdwgzf1SNE76JyR?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
<!-- <script>

var audio = new Audio("<%=video.previewURL%>");
audio.play();


</script> -->





<!-- 
<audio id="myAudio" autoplay>
  <source src="<%=video.previewURL%>">
  
  Your browser does not support the audio element.
</audio>
<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

let audio = document.getElementById("myAudio");
audio.play()
audio.volume = 0.0

  function getSoundAndFadeAudio (audiosnippetId) {

var sound = document.getElementById(audiosnippetId);

// Set the point in playback that fadeout begins. This is for a 2 second fade out.

  var fadePoint = sound.duration - 3; 
var fadeBegin = 4;

var fadeFull = false;
var fadeAudio = setInterval(async function () {

  console.log("Current time:" + sound.currentTime + ", Fade Point: " + fadePoint +", Volume: " + sound.volume)
    // Only fade if past the fade out point or not at zero already


    if ((sound.currentTime <= fadeBegin) && (sound.volume <= 0.5)) {
     // console.log("HELLOSS")
        sound.volume += 0.005;
    }

    else
    {
      fadeFull = true;
    }


if(fadeFull)
{

    if ((sound.currentTime >= fadePoint) && (sound.volume != 0.0)) {
      //console.log("HELLOSS")
      try{
        sound.volume -= 0.01;
      }
      catch(e)
      {
        console.log(e)
        sound.volume = 0.0;
      }
    }

    // When volume at zero stop all the intervalling
    if (sound.volume <= 0.0) {
        clearInterval(fadeAudio);
    }
}
}, 200);

}
audio.onloadedmetadata = function() {
getSoundAndFadeAudio("myAudio")
};
</script> -->